# Bağımlılıklar (En önemlisi bu, senin 10k dosyan burada)
vendor/

# Ortam değişkenleri (Şifreler ve API anahtarları içerir, ASLA yükleme)
.env
.env.local
.env.*.local

# IDE ve Editör Ayarları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# İşletim Sistemi dosyaları
Thumbs.db
.DS_Store

# Loglar ve Geçici Dosyalar
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp/
tmp/

# Test sonuçları
.phpunit.result.cache
tests/_output/